@charset "utf-8"; 

@media(max-width: 1440px){
    .lists li:hover,.lists li.que{ border-radius: 10px !important; }
    .lists li{ padding-top: 15px !important; }
    .btn.change,.aaa{ width: 150px !important; }
}
 
/*中间*/
.lists{width: 91%;height: auto;overflow: hidden;margin: 20px auto 0;}
.lists ul{overflow: hidden;width: 100%;/* height: 100px; */margin-top: 10px;}
.lists li{margin: 5px 20px;overflow: hidden; float: left; padding:10px; text-align: center; cursor: pointer; background-size: 75%; }
.lists li:hover{background-size: 75%; border-radius: 5px; }
.lists li.que{ background: #ee8c8d url("../images/icon_hover.png") no-repeat center 3px; background-size: 75%; border-radius: 5px; }
.lists li {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.lists li img{
	width: 40px;
	height: 50px;
}
.back_color{ background-size: 75% !important; border-radius: 5px !important; }